<a href="https://colab.research.google.com/github/jvataidee/DataAnalysis/blob/master/Otimiza%C3%A7%C3%A3o_Abate_de_Gado_de_Corte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**by: [João Ataíde](https://www.joaoataide.com)**
# Análise Mercado Financeira de Gado de Corte


---

## Importanto bibliotecas básicas

In [24]:
#importar bibliotecas básicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

# configurar a visualização
sns.set()
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

## Obtenção dos dados

In [ ]:
!pip install investpy -q

In [ ]:
!pip install yfinance -q

In [4]:
pip install -U sidrapy -q

In [5]:
#importar bibliotecas financeiras
import investpy
import yfinance as yf
import sidrapy

In [6]:
#Lista de commodities
commodities = ["Live Cattle", "Feeder Cattle", ]

#Data de inicio e fim de análise
inicio = "01/07/2014"
fim = "01/07/2021"

In [7]:
#Função para importar dados das commodities
def commodities_df(commodities, inicio,fim):
  precos = pd.DataFrame()
  for i in commodities:
    df = investpy.commodities.get_commodity_historical_data(commodity=i, from_date=inicio, to_date=fim).Close
    df.rename(i, inplace=True)
    df.columns = [i]
    precos = pd.concat([precos,df], axis=1)
    precos.index.name="Date"
  return precos

In [8]:
#Data Frame de commodites
df = commodities_df(commodities,inicio,fim)
df.head()

                     Live Cattle  Feeder Cattle
Date
2014-07-01 00:00:00      151.500         215.78
2014-07-02 00:00:00      152.325         216.20
2014-07-03 00:00:00      155.000         217.62
2014-07-07 00:00:00      154.950         218.00
2014-07-08 00:00:00      153.525         215.90

In [9]:
#Importar historico do dollar
doll = yf.Ticker("USDBRL=x")
dollar = pd.DataFrame(doll.history(start ="2014-07-01", end ="2021-07-01" ).Close)
dollar.columns = ["Dollar"]
dollar.index.name="Date"
dollar.head()

            Dollar
Date
2014-07-01  2.2117
2014-07-02  2.1981
2014-07-03  2.2223
2014-07-04  2.2068
2014-07-07  2.2098

In [41]:
data = pd.merge(df, dollar, how='inner', right_index=True, left_index=True)
data.head()

            Live Cattle  Feeder Cattle  Dollar
Date
2014-07-01      151.500         215.78  2.2117
2014-07-02      152.325         216.20  2.1981
2014-07-03      155.000         217.62  2.2223
2014-07-07      154.950         218.00  2.2098
2014-07-08      153.525         215.90  2.2225

In [43]:
#Tranformar em Trimestre
opsd_weekly_mean = data.timedelta_range(0, periods=10, freq='W')
opsd_weekly_mean

AttributeError: ignored

##Análises exploratória

In [23]:
print("Data Inicial: ", data.Date.min())
print("Data Final: ", data.Date.max())
print("Dias de análise: ", data.Date.max() - data.Date.min() )

data.describe()

Data Inicial:  2014-07-01 00:00:00
Data Final:  2021-07-01 00:00:00
Dias de análise:  2557 days 00:00:00

       Live Cattle  Feeder Cattle       Dollar
count  1752.000000    1747.000000  1752.000000
mean    122.772504     156.767905     3.802801
std      18.320894      31.269586     0.887515
min      83.825000     108.250000     2.198100
25%     109.450000     137.725000     3.191750
50%     118.900000     145.450000     3.703600
75%     129.912500     157.310000     4.093250
max     171.000000     242.320000     5.886400

###Pré-processamento

### Análises da série temporal

## Modelo de previsão

### Tratamento dos dados

##Conclusão