<a href="https://colab.research.google.com/github/jvataidee/DataAnalysis/blob/master/Otimiza%C3%A7%C3%A3o_Abate_de_Gado_de_Corte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**by: [João Ataíde](https://www.joaoataide.com)**
# Análise Mercado Financeira de Gado de Corte


---

## Importanto bibliotecas básicas

In [1]:
#importar bibliotecas básicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# configurar a visualização
sns.set()
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

## Obtenção dos dados

In [ ]:
!pip install investpy -q

In [ ]:
!pip install yfinance -q

In [4]:
pip install -U sidrapy -q

In [5]:
#importar bibliotecas financeiras
import investpy
import yfinance as yf
import sidrapy

In [6]:
#Lista de commodities
commodities = ["Live Cattle", "Feeder Cattle", ]

#Data de inicio e fim de análise
inicio = "01/07/2014"
fim = "01/07/2021"

In [7]:
#Função para importar dados das commodities
def commodities_df(commodities, inicio,fim):
  precos = pd.DataFrame()
  for i in commodities:
    df = investpy.commodities.get_commodity_historical_data(commodity=i, from_date=inicio, to_date=fim).Close
    df.rename(i, inplace=True)
    df.columns = [i]
    precos = pd.concat([precos,df], axis=1)
    precos.index.name="Date"
  return precos

In [8]:
#Data Frame de commodites
df = commodities_df(commodities,inicio,fim)
df.head()

                     Live Cattle  Feeder Cattle
Date
2014-07-01 00:00:00      151.500         215.78
2014-07-02 00:00:00      152.325         216.20
2014-07-03 00:00:00      155.000         217.62
2014-07-07 00:00:00      154.950         218.00
2014-07-08 00:00:00      153.525         215.90

In [9]:
#Importar historico do dollar
doll = yf.Ticker("USDBRL=x")
dollar = pd.DataFrame(doll.history(start ="2014-07-01", end ="2021-07-01" ).Close)
dollar.columns = ["Dollar"]
dollar.index.name="Date"
dollar.head()

            Dollar
Date
2014-07-01  2.2117
2014-07-02  2.1981
2014-07-03  2.2223
2014-07-04  2.2068
2014-07-07  2.2098

In [ ]:
data = pd.merge(df, dollar, how='inner', right_index=True, left_index=True)
data.head()

##Análises exploratória

###Pré-processamento

### Análises da série temporal

## Modelo de previsão

### Tratamento dos dados

##Conclusão