<a href="https://colab.research.google.com/github/jvataidee/DataAnalysis/blob/master/Otimiza%C3%A7%C3%A3o_Abate_de_Gado_de_Corte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<p align="center"><img src="https://static.wixstatic.com/media/bdd7cb_ce7cb603d09d4263921dda3fb68a395f~mv2.png" height="75px"></p>

**by: [João Ataíde](https://www.joaoataide.com)**
# Análise Mercado Financeira de Gado de Corte


---

<p align="center"><img src="https://static.wixstatic.com/media/bdd7cb_a59ef6dfb8914eea869878888a5d0acd~mv2.jpg"></p>

Saber que a agricultura é nosso pilar da economia isso não novidade, mas como é possível realizar análises financeiras das commodites? como aplicar ciência de dados para esses mercados? como prever tedências de mercado? como o produtor pode controlar uma industria a céu aberto que é sujeita a diversas variáveis exogenas? 

Foi devido a isso que criei este artigo, onde pretendo realizar algumas análises financeiras, mostrando alguns indicadores e técnincas utilizadas no mercado do agro, neste caso a pecuária especificamente a cultura de animais de corte.

## O que são commodities?

- Live Cattle - Boi Gordo
- Feeder Cattle - Bezerro

## Como analisas commodities?

## Importanto bibliotecas básicas

In [2]:
#importar bibliotecas básicas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# configurar a visualização
sns.set()
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

## Obtenção dos dados

Encontrar dados para começar as análises sempre é um processo complicado, em especial quando a gente está falando de um eixo de mercado ainda muito artesanal, o qual etá modificando agora seu modo com a Pecuária 4.0, assim, não foi possível encontrar uma API nacional que automatize a obtenção dados sobre o preço das commodities.

Então, para isso realizei a instalação de duas bibliotecas investpy, API criada a parti da plataforma [investing.com](https://investing.com/) que possui diversos bases de dados financeiras, não somente de commodities. Outra biblioteca que foi necessária foi a [Yahoo! Finance](https://finance.yahoo.com/) a qual utilizei para obter os dados referentes a cotas do dollar.

In [ ]:
!pip install investpy -q

In [ ]:
!pip install yfinance -q

In [5]:
pip install -U sidrapy -q

In [6]:
#importar bibliotecas financeiras
import investpy
import yfinance as yf
import sidrapy

In [29]:
#Lista de commodities
commodities = ["Live Cattle", "Feeder Cattle" ]

#Data de inicio e fim de análise
inicio = "01/07/2014"
fim = "01/07/2021"

In [30]:
#Função para importar dados das commodities
def commodities_df(commodities, inicio,fim):
  precos = pd.DataFrame()
  for i in commodities:
    df = investpy.commodities.get_commodity_historical_data(commodity=i, from_date=inicio, to_date=fim).Close
    df.rename(i, inplace=True)
    df.columns = [i]
    precos = pd.concat([precos,df], axis=1)
    precos.index.name="Date"
  return precos

In [31]:
#Data Frame de commodites
df = commodities_df(commodities,inicio,fim)
df.head()

                     Live Cattle  Feeder Cattle
Date
2014-07-01 00:00:00      151.500         215.78
2014-07-02 00:00:00      152.325         216.20
2014-07-03 00:00:00      155.000         217.62
2014-07-07 00:00:00      154.950         218.00
2014-07-08 00:00:00      153.525         215.90

In [10]:
#Importar historico do dollar
doll = yf.Ticker("USDBRL=x")
dollar = pd.DataFrame(doll.history(start ="2014-07-01", end ="2021-07-01" ).Close)
dollar.columns = ["Dollar"]
dollar.index.name="Date"
dollar.head()

            Dollar
Date
2014-07-01  2.2117
2014-07-02  2.1981
2014-07-03  2.2223
2014-07-04  2.2068
2014-07-07  2.2098

In [35]:
data2 = pd.merge(df, dollar, how='inner', right_index=True, left_index=True)
data2.head()

            Live Cattle  Feeder Cattle  Dollar
Date
2014-07-01      151.500         215.78  2.2117
2014-07-02      152.325         216.20  2.1981
2014-07-03      155.000         217.62  2.2223
2014-07-07      154.950         218.00  2.2098
2014-07-08      153.525         215.90  2.2225

In [25]:
#Importar dados do SINDRA
sidra = sidrapy.get_table(table_code="1092",
                          territorial_level="1",
                          ibge_territorial_code="all",
                          variable = "all",
                          period="all")

#Renomear nome das colunas
colunas = list(sidra.iloc[0, :])
sidra.columns = colunas
sidra = sidra.iloc[1:, :]

#Limpar dados da tabela
sidra = sidra.iloc[:, [4,8,10,12]]
sidra = sidra[sidra["Variável"] == "Animais abatidos"]

sidra.head()

      Valor          Trimestre          Variável Tipo de rebanho bovino
3   3510085  1º trimestre 1997  Animais abatidos                  Total
9   3674828  2º trimestre 1997  Animais abatidos                  Total
15  3784109  3º trimestre 1997  Animais abatidos                  Total
21  3917238  4º trimestre 1997  Animais abatidos                  Total
27  3640794  1º trimestre 1998  Animais abatidos                  Total

In [ ]:
bois = sidra[sidra["Tipo de rebanho bovino"] == "Bois"]
vacas = sidra[sidra["Tipo de rebanho bovino"] == "Bois"]
novilhs = sidra[sidra["Tipo de rebanho bovino"] == "Bois"]
novilhas = sidra[sidra["Tipo de rebanho bovino"] == "Bois"]



*   4 - valor
*   9 - trimestre
*   10 -  variáveis
*   12 -  tipo de rebalho

##Análises exploratória

###Pré-processamento

### Análises da série temporal

## Modelo de previsão

### Tratamento dos dados

##Conclusão